.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  .gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .banner {
    width: 100%;
    height: 150px;
    border-radius: 25px;
    position: relative;
    margin-top: 1rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 25px;
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 2rem;
      text-align: center;
    }
  }
}
