.thumb{
  width: 250px;
  height: 250px;
  border: solid 2px #000;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  h3{
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #00000054;
    color: white;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 20%;
    margin: 0;
    border-radius: 0px 0px 20px 20px;
    &:hover{
      background-color: #000000c2;
    }
  }
}